@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: "SUSE", sans-serif;
}
body{
    background-color: #222;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0.2em;
}
h1{
    font-size: 2rem;
}
button{
    padding: 0.4em 1em;
    cursor: pointer;
}
.mainContainer{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 60%;
    margin-top: 3em;
}
.assetsContainer{
    display: flex;
    gap: 1em;
    color: #f1c40f;
}
.optionsContainer{
    font-size: 0.7rem;
}
.textContainer{
    background-color: #969696;
    padding: 0.8em 1.5em;
}